<!DOCTYPE html>
<html>
  <head> <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' /> </head>
<body>

<div class="panel panel-default" style="margin-bottom: 20px;">
  <ul class="list-group" style="padding-left: 0;margin-bottom: 20px;">
    <li class="list-group-item" style="padding:20px;position: relative; display: block; padding: 10px 15px; margin-bottom: -1px; background-color: #fff; border: 1px solid #ddd;">
      <div>
        <h2>commented by <%= @comment.user.name %><small> via email</small></h2>
      </div>
      <div><%= Rails.configuration.portal_root %></div>
    </li>
    <li class="list-group-item" style="padding:20px;position: relative; display: block; padding: 10px 15px; margin-bottom: -1px; background-color: #fff; border: 1px solid #ddd;">
      <div> <%= @comment.original_body.html_safe %> </div>
    </li>

    <li class="list-group-item" style="padding:20px;position: relative; display: block; padding: 10px 15px; margin-bottom: -1px; background-color: #fff; border: 1px solid #ddd;">
      <p>
<b>Wooden Fish</b> is a light weight sharing program focus on exchanging daily reading, writing and thoughts.<br/>
<br />
<b>Why</b><br />
- A force to share and learn on daily basis<br />
<br />
<b>Guidelines</b><br />
- Recent reading is preferred. Past reading is fine, too.<br />
- Recommend attaching notes for easier reading.<br />
- This is a private group. Members own both rights and duties.<br />
<br />
<b>Misc</b><br/>
Share by sending to: woodenfish@hulu.com<br />
Portal: http://woodenfish.prod.hulu.com/<br />
Feecback: woodenfish-dev@hulu.com<br />
Git: http://git.hulu.com/cgit/woodenfish.git/ http://git.hulu.com/cgit/woodenfish-portal.git/<br />
<br/>
Woodenfish
      </p>
    </li>
  </ul>
</body>
</html>
