<!DOCTYPE html>
<html>
  <head> <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' /> </head>
<body style="font-size: 14px;">

<div class="panel panel-default" style="margin-bottom: 20px;border: 1px solid transparent;border-radius: 8px;background-color: #fff;border-color: #ddd;">
  <ul class="list-group" style="padding-left: 0;margin-bottom: 20px;">
    <li class="list-group-item" style="padding:20px;position: relative; display: block; padding: 10px 15px; margin-bottom: -1px; background-color: #fff; border: 1px solid #ddd;border-top-left-radius:8px;border-top-right-radius:8px">
      <%= yield(:body) %>
    </li>

    <li class="list-group-item" style="padding:20px;position: relative; display: block; padding: 10px 15px; margin-bottom: -1px; background-color: #fff; border: 1px solid #ddd;border-bottom-left-radius:8px;border-bottom-right-radius:8px">
      <p>
<b>Comment, star</b> and <b>view</b> posts on portal: TODO<br />
<b>Share</b> by sending to: TODO<br />
<b>Wooden Fish</b> is a light weight sharing program focuses on exchanging daily reading and thoughts.<br/>
<br />
WoodenFish @ woodenfish.dev@gmail.com
      </p>
    </li>
  </ul>
</body>
</html>
