<div class="container theme-showcase">
  <form action="./portal_submit" method="post">
    <div>
      <span>User email:</span> <input size=100 type="text" name="user_email" value="yizhe.tang@hulu.com" />
    </div>
    <div>
      <span>Post subject:</span> <input size=100 type="text" name="post_subject" value="" />
    </div>
    <div>
      <span>Post body:</span><br/>
      <textarea cols=100 rows=10 type="text" name="post_body" value=""></textarea>
    </div>
    <div>
      <button type="submit" class="btn btn-default">submit</button>
    </div>
  </form>
</div>
