<% starred = post_starred_by_user?(@post, get_current_user_id)  %>
<%= link_to (starred ? "★" : "☆"), 
  {:controller => "home", :action => "star_post", :post_id => @post_id},
  :class => "poststar #{(starred ? "starred" : "unstarred")}",
  :method => :post, :remote => true, :style => "text-decoration:none" %>
<br />
<span style="font-size:20px;width:100%;"><%= starred_count(@post) %></span>
