/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.relative {
  position: relative;
}

.post-list-control {
  position: fixed;
  left: 87.5%;
  top: 62px;
}

.post-list-control .btn {
  vertical-align: middle;
  text-align: left;
}

.post-subject {
  cursor: pointer;
}

.hide {
  display: none;
}

.post.collapsed .post-body-content, .post.collapsed .post-comment {
  display: none;
}
