// Place all the styles related to the post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-list-control {
  position: fixed;
  left: 87.5%;
  top: 62px;
}

.post-list-control .btn {
  vertical-align: middle;
  text-align: middle;
}

.post-list-control .btn-group-vertical {
  vertical-align: top;
}

.post-list-control .btn-group-vertical > .btn {
  border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
}

.top-btn {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-top-left-radius: 8px;
  -moz-border-top-right-radius: 8px;
}

.bottom-btn {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-bottom-left-radius: 8px;
  -moz-border-bottom-right-radius: 8px;
}

.post-list-control .btn-group-vertical > .btn:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-top-left-radius: 8px;
  -moz-border-top-right-radius: 8px;
}

.post-list-control .btn-group-vertical > .btn:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-bottom-left-radius: 8px;
  -moz-border-bottom-right-radius: 8px;
}

.post-subject {
  cursor: pointer;
}

.post.collapsed .post-body-content, .post.collapsed .post-comment {
  display: none;
}
