<a style="color:inherit;text-decoration:none" href="#modal_user" data-toggle="modal">
  <div style="float:right;padding:10px">
      <img style="width:30px;height:30px;border-radius: 5px;" 
        src="<%= get_current_user_avartar.html_safe %>" />
  </div>
  <div style="float:right" class="navbar-brand">
    <%= get_current_user_name %>
  </div>
</a>
